@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurant Rater</h1>
    <p class="lead">Restaurant Rater is the premiere place to get restaurant reviews.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Using Restaurant Rater</h2>
        <p>
            Tincidunt integer eu auge auge elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find the best food!</h2>
        <p>Tincidunt integer eu auge auge elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Restaurant rating</h2>
        <p>Tincidunt integer eu auge auge elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>